.nav-heading { font-family: brush script mt , open sans; width:100%; height:9vh; background:linear-gradient(120deg,#76daff, #fcd000); position:fixed; top:0px; left:0px;  }

.motto {display:inline-block; width:35%; float:left; margin-left: 20px; margin-top:15px; text-align:center; font-size: calc(15px + 2vw);  }

.navbar {display:inline-block; width:50%; float:right; font-size: calc(15px + 1vw); justify-content:space-evenly;  }

.nav-list { display:flex; font-family: brush script mt; margin-top:15px; justify-content:space-evenly; list-style-type:none; }

.navbar a {color:#007fff;}

.welcome-section {width:100vw;height:100vh; }

.welcome {font-size:1.5rem; position:absolute; left:0px; text-align:center; color:black; z-index:-1; }

.top-left {position:absolute; top:16%; left:5%; }

.welcome-img {width:100vw; height:750px; opacity:80%; margin-left:-1px; }

.quote {font-weight:bold; font-size:2rem ; font-family: Brush Script MT; }

.about {background:linear-gradient(#76daff, #fcd000); width:100vw; height:auto; margin-left:-8px; overflow:hidden;  }

.info { font-size:2rem; font-family: brush script mt; margin-top:35px; margin-left:20px; }

.subtitle { font-family: brush script mt; font-size: 1.5rem ; margin-left:20px; margin-top: -20px; }

.text {margin-left:10px; padding:5px; font-size:1.2rem;}

.projects {width:100vw; height:auto; overflow:hidden; background:linear-gradient(#fcd000, #76daff); margin-left:-8px;  }

.top {width:100%; height:auto; padding-bottom:15px;  }

.container {width:100%; height:auto; display:flex; flex-direction:row; justify-content: center; }

.left, .middle, .right {width:32vw; height:auto; padding:3px; }

.doc, .form, .product, .tribute {width:100%; height:auto; }

.one, .two, .three, .four {text-align:center; font-size:1.5rem;margin-bottom:15px; padding:5px;}

.four {margin-top:-10px;}

.profile {text-align:center; padding:5px;}

.prof:hover {color:#fcd000;}

.left:hover, .middle:hover, .right:hover, .top:hover {background-color:#76daff;  }

.contact {width:100vw; height:auto; margin-left:-8px; background:linear-gradient(#76daff, #fcd000); overflow:hidden; margin-bottom:5px;}

.follow, .call {font-size: 1.2rem; margin-left:20px;}

.social-icons { width:100%; height:100%; display: flex; flex-direction:row;
  font-size: 3.5rem;  
  margin-top:15px; }

.icon1, .icon2, .icon3, .icon4{width:100%; height:100%; border-radius:50%; margin:5px; padding:15px; text-align:center;}  

.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .sell:hover {background-color:#76daff;}

.vid {text-align:center; padding:20px; }

.book { font-size:1.5rem; font-family: brush script mt; margin-top:20px; text-align:center; }

.video {width:100vw; height:auto; overflow:hidden; background:linear-gradient(#fcd000, #76daff); margin-left:-8px; margin-top:-5px; }


@media only screen and (max-width:600px) {
  .nav-heading {width:100%; height:13vh; }

.motto { width:30%; margin-left: 1px; margin-top:1px; }

.navbar {width:68%; }

.nav-list {margin-top:20px; }

.welcome-section {width:100vw;height:100vh; }

.welcome {font-size:20px; }

.top-left {position:absolute; top:15%; left:3%; }

.welcome-img {width:100%; height:70vh; opacity:80%; margin-left:-1px; }

blockquote { margin-top:125px; color:white;}

.quote {font-size:18px; margin-top:4px; margin-bottom: 4px;}

.about {width:100vw; height:auto; margin-top:-180px  }

.info { font-size:25px;  }

.subtitle {font-size:15px; }

.text {font-size:15px;}

.projects {width:100vw; height:auto; }

.left, .middle, .right {width:32vw; height:auto; }

.doc, .form, .product, .tribute {width:100%; height:auto; }

.one, .two, .three, .four {font-size:15px;}

.follow, .call {font-size: 18px; }

.social-icons {font-size: 20px;}

.book { font-size:20px;}

iframe {width:100%; height:100%; } }
