@media (max-width: 600px) {
  body{ margin: 0; }

.head {width: 100%; height: 40px; background:linear-gradient(120deg,#76daff, #fcd000); position:fixed; top:0px; left:0px; border-bottom: 0.5px solid black; z-index: 10; display: flex; flex-direction: row; }

.motto { width: 20%; display: flex; flex-direction: column; font-size: 13px; font-family: cursive; opacity: 0.8; margin: 0; }

.P1 { margin-top: -1px; margin-left: 2px }

.P2 { margin-top: -21px; margin-left: 15px; }

.P3 { margin-top: -21px; margin-left: 30px; }

.navbar { width: 80%; margin: 0; padding: 0; }

.nav-list { list-style-type: none; font-size: 12px; display: flex; justify-content: space-evenly; }

.navbar a { font-family: cursive; color: #007fff; text-decoration: none; }

.welcome { width: 100%; height: auto; overflow: hidden; position: relative; margin-top: 40px; }

.top-img { width:100%; height: auto; opacity: 80%; }

.Hello { width: 100%; font-size: 20px; text-align: center; color: black; font-family: cursive; position: absolute; top: 5px; left: 0px;}

.quote { width: 50%; color: white; position: absolute; bottom: 0px; left: 0; right: 0; Margin: auto; text-align: center;}

.quote p { font-family: bradley hand; font-size: 8px; background-color: rgba(0, 0, 0, 0.4); border-radius: 50px; padding: 3px; margin-top: -5px; margin-bottom: -5px;}

.about {background: linear-gradient(#76daff, #fcd000); width: 100%; height: auto; margin-top: -15px; overflow: hidden; }

.info { font-size: 20px; font-family: bradley hand; text-align: center; padding-top: 12px; }

.subtitle { text-align: center; margin-top: -20px; font-size: 13px; }

.text { padding:6px; font-size:13px;}

.projects {width:100%; height:auto; overflow:hidden; background:linear-gradient(#fcd000, #76daff); margin-top: -15px; }

.top {width:100%; height:auto; margin-bottom: 25px;  }

.container {width:100%; height:auto; display:flex; flex-direction:column; justify-content: center; }

.left, .middle, .right { width:90vw; height:auto; padding:3px; align-items: center; margin: auto; margin-bottom: 25px; }

.doc, .form, .product, .tribute { width:100%; height:auto; }

.one, .two, .three, .four { text-align: center; font-size: 15px; margin-bottom: 15px; padding: 5px; }

.four { margin-top: -15px;}

.click { text-decoration: none; color: black; }

.profile { text-align: center; font-size: 13px; margin-top: -10px; margin-bottom: 15px;}

.prof:hover {color: #fcd000;}

.left:hover, .middle:hover, .right:hover, .top:hover {background-color:#76daff;  }

.contact {width: 100%; height: auto; background: linear-gradient(#76daff, #fcd000); overflow: hidden; margin-bottom: 5px; margin-top: -15px;}

.call {font-size: 13px; padding: 5px; margin-top: -18px; }

.call2{ font-size: 13px; padding: 5px; text-align: center; margin-top: -5px; text-decoration: none; color: black; font-size: 14px;}

.social-icons { width: 100%; height: auto; display: flex; flex-direction: row;
  font-size: 30px; margin-bottom: 5px; }

.icon1, .icon2, .icon3, .icon4{ width: 100%; height: 100%; border-radius:50%; padding: 15px; text-align: center;}  

.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .sell:hover { background-color:#76daff;}

.video { width: 100%; height: auto; overflow: hidden; background: linear-gradient(#fcd000, #76daff); margin-top:-5px; }

.book { font-size: 15px; margin-top: 30px; text-align: center; }

.vid { width:100%; text-align: center; }

iframe{ width: 80%; height: 32vw; max-width: 560px; min-height: 160px; max-height: 320px; padding-top: 10px; padding-bottom: 25px;}

}

@media (min-width: 601px) {
body { margin: 0; }

.head {width: 100%; height: 50px; background:linear-gradient(120deg,#76daff, #fcd000); position:fixed; top:0px; left:0px; border-bottom: 0.5px solid black; z-index: 10; display: flex; flex-direction: row; }

.motto { width: 20%; display: flex; flex-direction: column; font-size: 15px; font-family: cursive; opacity: 0.8; margin: 0; }

.P1 { margin-top: -2px; margin-left: 2px }

.P2 { margin-top: -23px; margin-left: 15px; }

.P3 { margin-top: -23px; margin-left: 30px; }

.navbar { width: 80%; margin: 0; padding: 0; }

.nav-list { list-style-type: none; font-size: 25px; display: flex; justify-content: space-evenly; margin-top: 5px;}

.navbar a { font-family: cursive; font-weight: 800; color: #007fff; text-decoration: none; padding: 10px;}

.welcome { width: 100%; height: auto; overflow: hidden; position: relative; margin-top: 40px; }

.top-img { width:100%; height: auto; opacity: 80%; }

.Hello { width: 100%; font-size: 35px; text-align: center; color: black; font-family: cursive; position: absolute; top: 130px; left: 0px;}

.quote { text-align: center; width: 45%; color: white; margin: auto; position: absolute; bottom: 25px; left: 0; right: 0;}

.quote p { font-family: bradley hand; font-size: 16px; background-color: rgba(0, 0, 0, 0.5); border-radius: 90px; padding: 10px; margin-top: -8px; margin-bottom: -10px;}

.about {background: linear-gradient(#76daff, #fcd000); width: 100%; height: auto; margin-top: -15px; overflow: hidden; }

.info { font-size: 30px; font-family: bradley hand; text-align: center; padding-top: 12px; }

.subtitle { text-align: center; margin-top: -25px; font-size: 16px; }

.text { padding:6px; font-size:15px;}

.projects {width:100%; height:auto; overflow:hidden; background:linear-gradient(#fcd000, #76daff); margin-top: -15px; }

.top { width: 99%; height: auto; margin: auto; margin-bottom: 25px; padding: 5px; }

.container {width: 100%; height: auto; display: flex; flex-direction: row; justify-content: space-evenly; align-items: flex-start; }

.left, .middle, .right { width: 32vw; height: auto; padding: 3px; margin-bottom: 25px; }

.doc, .form, .product, .tribute { width:100%; height:auto; }

.one, .two, .three, .four { text-align: center; font-size: 15px; margin-bottom: 15px; padding: 5px; }

.four { margin-top: -10px;}

.click { text-decoration: none; color: black; }

.profile { text-align: center; font-size: 13px; margin-top: -10px; margin-bottom: 15px;}

.prof:hover {color: #fcd000;}

.left:hover, .middle:hover, .right:hover, .top:hover {background-color:#76daff;  }

.contact {width: 100%; height: auto; background: linear-gradient(#76daff, #fcd000); overflow: hidden; margin-bottom: 5px; margin-top: -15px;}

.call {font-size: 15px; padding: 5px; margin-top: -18px; }

.call2{ font-size: 15px; padding: 5px; text-align: center; margin-top: -5px; text-decoration: none; color: black; font-size: 16px; margin-top: 10px; }

.social-icons { width: 100%; height: auto; display: flex; flex-direction: row;
  font-size: 60px; margin-bottom: 5px; }

.icon1, .icon2, .icon3, .icon4{ width: 100%; height: 100%; border-radius:50%; padding: 15px; text-align: center;}  

.icon1:hover, .icon2:hover, .icon3:hover, .icon4:hover, .sell:hover { background-color:#76daff;}

.video { width: 100%; height: auto; overflow: hidden; background: linear-gradient(#fcd000, #76daff); margin-top:-5px; }

.book { font-size: 15px; margin-top: 30px; text-align: center; }

.vid { width:100%; text-align: center; }

iframe{ width: 560px; height: 316px; padding-top: 10px; padding-bottom: 25px;}

}
